---
title: Faculty
---

{% include head.html %}    

{% include menu.html %}
	

			<ul class="disc">
  <li>
    <a href="#1"><span style="font:16px Calibri;">Faculty</span></a>
  </li>
  <li>
    <a href="#2"><span style="font:16px Calibri;">Assistant Research Professor</span></a>
  </li>
</ul>
<p>
  <img class="imageStyle" alt="Color Bar" src="files/color-bar.jpg" width="675" height="5"><br>
  <span style="font:13px Calibri;"><br></span><span style="font:13px Calibri;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font:15px Arial, Verdana, Helvetica, sans-serif; font-weight:bold; color:#608B32;font-weight:bold;">FACULTY</span><span style="font:15px Arial, Verdana, Helvetica, sans-serif; font-weight:bold; color:#262626;font-weight:bold;"><br></span><br>
</p>
<div class="image-left">
  <img class="imageStyle" alt="PIL3" src="files/pil3.jpg" width="138" height="133">
</div>
<p>
  <span style="font:14px LucidaSans-Demi; font-weight:bold; font-weight:bold;">Peter I. Lelkes, Ph.D.<br></span><span style="font:15px Calibri;">Calhoun Chair Professor &nbsp;of Cellular Tissue Engineering, School of Biomedical Engineering, Science, and Health Systems, Drexel University<br>
  Director, Clinical Engineering Enterprise (CEE), Drexel University College of Medicine<br></span><span style="font:15px Calibri;">Office:</span> <span style="font:13px Calibri;">&nbsp;&nbsp;</span><span style="font:15px Calibri;">14309 New College Building, 245 N 15th Street, Philadelphia, PA 19102<br>
  Phone:</span><span style="font:13px Calibri;">&nbsp;&nbsp;</span><span style="font:15px Calibri;">215-762-2071<br>
  Fax:</span><span style="font:13px Calibri;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font:15px Calibri;">215-762-3150</span><span style="font:13px Calibri;"><br></span><span style="font:15px Calibri; color:#134598;"><u><br></u></span><span style="font:15px Calibri;"><a href="assets/PIL%20CVBio%20for%20Web.pdf" rel="self">bio</a></span> <span style="font:15px Calibri;">|</span> <span style="font:15px Calibri;"><a href="../../page4/page4.html" rel="self" title="Publications">research and publications</a></span><span style="font:15px Calibri;">|</span> <span style="font:14px Calibri;"><a href="%E2%80%9Cmailto:pil22@drexel.edu%E2%80%9D"><span style="font:15px Calibri;">contact</span></a></span> <span style="font:15px Calibri;"><br></span><span style="font:15px Calibri; color:#134598;"><u><br></u></span><span style="font:14px LucidaSans-Demi; font-weight:bold; font-weight:bold;"><br></span>
</p>
<div class="image-left">
  <img class="imageStyle" alt="FAllen" src="files/fallen.jpg" width="138" height="133">
</div>
<p>
  <span style="font:14px LucidaSans-Demi; font-weight:bold; font-weight:bold;">Fred Allen, Ph.D.<br></span><span style="font:15px Calibri;">Assistant Professor, School of Biomedical Engineering, Science, and Health Systems, Drexel University<br></span><span style="font:15px Calibri;">Office:</span> <span style="font:13px Calibri;">&nbsp;&nbsp;</span><span style="font:15px Calibri;">Bossone Building 7-711, 3141 Chestnut Street, Philadelphia, PA 19104<br>
  Phone:</span><span style="font:13px Calibri;">&nbsp;&nbsp;</span><span style="font:15px Calibri;">215-895-1812<br>
  Fax:</span><span style="font:13px Calibri;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font:15px Calibri;">215-895-4893<br></span><span style="font:13px Calibri;"><br>
  <br></span><span style="font:15px Calibri; color:#134598;"><u><br></u></span><span style="font:15px Calibri;"><a href="assets/FAllen%20Bio%20for%20Web.pdf" rel="self">bio</a></span> <span style="font:15px Calibri;">|</span> <span style="font:15px Calibri;"><a href="assets/FAllen%20Rsrch%20Publs%20for%20web.pdf" rel="self">research and publications</a></span> <span style="font:15px Calibri;">|</span> <span style="font:15px Calibri;"><a href="mailto:fred.douglas.allen@drexel.edu" rel="self">contact</a></span><span style="font:15px Calibri;"><br></span><br>
  <br>
</p>
<div class="image-left">
  <img class="imageStyle" alt="papazoglou_2" src="files/papazoglou_2.jpg" width="130" height="154">
</div>
<p>
  <span style="font:14px LucidaSans-Demi; font-weight:bold; font-weight:bold;">Elisabeth Papazoglou, Ph.D.<br></span><span style="font:15px Calibri;">Associate Professor, School of Biomedical Engineering, Science, and Health Systems, Drexel University<br></span><span style="font:15px Calibri;">Office:</span> <span style="font:13px Calibri;">&nbsp;&nbsp;</span><span style="font:15px Calibri;">Bossone Building 7-707, 3141 Chestnut Street, Philadelphia, PA 19104<br>
  Phone:</span><span style="font:13px Calibri;">&nbsp;&nbsp;</span><span style="font:15px Calibri;">215-895-4956<br>
  Fax:</span><span style="font:13px Calibri;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font:15px Calibri;">215-895-4893<br></span><span style="font:13px Calibri;"><br>
  <br></span><span style="font:15px Calibri; color:#134598;"><u><br></u></span><span style="font:15px Calibri;"><a href="assets/E_Papazoglou%20Bio%20for%20Web.pdf" rel="self">bio</a></span> <span style="font:15px Calibri;">|</span> <span style="font:15px Calibri;"><a href="assets/E_Papazoglou%20Research%20for%20Web.pdf" rel="self">research</a></span> <span style="font:15px Calibri;">and</span> <span style="font:15px Calibri;"><a href="assets/E_Papazoglou%20Publications%20for%20Web.pdf" rel="self">publications</a></span> <span style="font:15px Calibri;">|</span> <span style="font:15px Calibri;"><a href="mailto:esp25@drexel.edu" rel="self">contact</a></span><span style="font:15px Calibri;"><br></span><span style="font:15px Calibri;"><br></span><span style="font:15px Calibri;"><br></span>
</p>
<div class="image-left">
  <img class="imageStyle" alt="Yinghui Pic" src="files/yinghui-pic.gif" width="129" height="129">
</div>
<p>
  <span style="font:14px LucidaSans-Demi; font-weight:bold; font-weight:bold;">Yinghui Zhong, Ph.D.<br>
  <br></span> <span style="font:15px Calibri;">Office:</span> <span style="font:13px Calibri;">&nbsp;&nbsp;</span><span style="font:15px Calibri;">Bossone Building 7-716, 3141 Chestnut Street, Philadelphia, PA 19104<br>
  Phone:</span><span style="font:13px Calibri;">&nbsp;&nbsp;</span><span style="font:15px Calibri;">215-895-1559<br>
  Fax:</span><span style="font:13px Calibri;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font:15px Calibri;">215-895-4983<br></span><span style="font:15px Calibri; color:#134598;"><u><br>
  <br></u></span><span style="font:15px Calibri;"><a href="assets/Yinghui%20Bio%20Web%20Revised.pdf" rel="self">bio</a></span> <span style="font:15px Calibri;">|</span> <span style="font:15px Calibri;"><a href="assets/Yinghui%20Resrc%20for%20Web%20Revised.pdf" rel="self">research and publications</a></span> <span style="font:15px Calibri;">|</span> <span style="font:15px Calibri;"><a href="mailto:qingwei.zhang@drexelmed.edu" rel="self"></a></span><span style="font:15px Calibri;"><a href="mailto:yz348@drexel.edu" rel="self">contact</a></span><span style="font:15px Calibri;"><br>
  <br>
  <br></span><img class="imageStyle" alt="Color Bar" src="files/color-bar-3.jpg" width="675" height="5"><br>
  <br>
  <a name="2"></a><span style="font:14px LucidaSans-Demi; font-weight:bold; font-weight:bold;">Assistant Research Professor</span><br>
  <br>
</p>
<div class="image-left">
  <img class="imageStyle" alt="IMG_0443" src="files/img_0443.jpg" width="116" height="155">
</div>
<p>
  <span style="font:14px LucidaSans-Demi; font-weight:bold; font-weight:bold;">Anat Perets (Katsir), Ph.D.<br>
  <br></span> <span style="font:15px Calibri;">Office:</span> <span style="font:13px Calibri;">&nbsp;&nbsp;</span><span style="font:15px Calibri;">New College Building, 14th Fl., 245 N 15th Street, Philadelphia, PA 19102<br>
  Phone:</span><span style="font:13px Calibri;">&nbsp;&nbsp;</span><span style="font:15px Calibri;">215-762-2072<br>
  Fax:</span><span style="font:13px Calibri;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font:15px Calibri;">215-762-3150<br></span><span style="font:15px Calibri; color:#134598;"><u><br>
  <br>
  <br></u></span><span style="font:15px Calibri;"><a href="assets/Anat_CV%20for%20website.pdf" rel="self">bio</a></span> <span style="font:15px Calibri;">|</span> <span style="font:15px Calibri;"><a href="assets/Anat%20Publications%20for%20Web.pdf" rel="self">research and publications</a></span> <span style="font:15px Calibri;">|</span> <span style="font:15px Calibri;"><a href="mailto:qingwei.zhang@drexelmed.edu" rel="self"></a></span><span style="font:15px Calibri;"><a href="mailto:anat@drexel.edu" rel="self">contact</a></span><span style="font:15px Calibri;"><br>
  <br></span><br>
  <span style="font:15px Calibri;"><a href="#top">Back to the top</a></span><br>
  <br>
  <br>
</p>

{% include footer.html %}