---
title: i-CTERM Lab
---

{% include head.html %}

{% include menu.html %}

	<div id="contentContainer"><!-- Start main content wrapper -->
		<div id="content"><!-- Start content -->
		  <div class="contentSpacer"></div><!-- this makes sure the content is long enough for the design -->
<p style="font:15px Calibri, Arial, Verdana, Helvetica, sans-serif; text-align:justify;"> 
<span style="font-weight:bold; color:#608B32;">WELCOME TO THE <em>i-</em>CTERM!<br /><br /></span>
The laboratories of the cellular tissue-engineering and regenerative medicine group headed by Dr. Peter Lelkes, are located on the 8th floor (Room 825) of the College of Engineering building on the Main Campus of Temple University.
<br /><br />
<img class="imageStyle" alt="IMG_0432" src="./img/lab/lab.jpeg" width="570" height="428">
<br/>
<img class="imageStyle" alt="Color Bar" src="./files/color-bar-2.jpg" width="570" height="5">
<br/>
</p>
<br/>
		  <div class="clearer"></div>
	  </div><!-- End content -->

<h3>Summer Student Presentations 2014</h3>

<table border="0" cellspacing="5" cellpadding="5">
  <tr><th>Date</th>
      <th>Presenter</th>
      <th>Note</th>
  </tr>
  <tr><td>January 12</td>
      <td></td>
      <td>Electrospinning Presentations</td>
  </tr>
  <tr><td>January 19</td>
      <td>Kamyar Esmaeili</td>
      <td></td>
  </tr>
  <tr><td>January 26</td>
      <td>Leila Daneshmandi</td>
      <td></td>
  </tr>
  <tr><td>February 2</td>
      <td>David Hindin</td>
      <td></td>
  </tr>
  <tr><td>February 9</td>
      <td>Emily Tsz Lo</td>
      <td></td>
  </tr>
  <tr><td>February 16</td>
      <td>Sogol Baharlou</td>
      <td></td>
  </tr>
  <tr><td>February 23</td>
      <td>Jessica Falcón</td>
      <td></td>
  </tr>
  <tr><td>March 2</td>
      <td></td>
      <td>Spring Break</td>
  </tr>
  <tr><td>March 9</td>
      <td>Jonathan Gerstenhaber</td>
      <td></td>
  </tr>
  <tr><td>March 16</td>
      <td>Sean Devlin</td>
      <td></td>
  </tr>
  <tr><td>March 23</td>
      <td>Riddhi Gangolli</td>
      <td></td>
  </tr>
  <tr><td>March 30</td>
      <td>Seda Karamil</td>
      <td></td>
  </tr>
  <tr><td>April 6</td>
      <td>Nina Rashvand</td>
      <td></td>
  </tr>
  <tr><td>April 13</td>
      <td>Collin Stabler</td>
      <td></td>
  </tr>
  <tr><td>April 20</td>
      <td>Azadeh Timnak</td>
      <td></td>
  </tr>
  <tr><td>April 27</td>
      <td>Camilla dos Santos Xavier,<br/>Krissia Caroline Leme,<br/>Brenda Barbosa</td>
      <td>Last day of classes</td>
  </tr>
  <tr><td>May 4</td>
      <td></td>
      <td>Final Exams</td>
  </tr> 
  <tr><td>May 11</td>
      <td>Marlon Sousa Silva Luna,<br/>Diana Alves de Sousa</td>
      <td></td>
  </tr>
  <tr><td>May 18</td>
      <td>Maria Pereira Vieira,<br/>Bernardo Olsson</td>
      <td></td>
  </tr> 

  

</table>
    
{% include footer.html %}