---
title: i-CTERM Lab
---

{% include head.html %}

{% include menu.html %}

	<div id="contentContainer"><!-- Start main content wrapper -->
		<div id="content"><!-- Start content -->
		  <div class="contentSpacer"></div><!-- this makes sure the content is long enough for the design -->
<p style="font:15px Calibri, Arial, Verdana, Helvetica, sans-serif; text-align:justify;"> 
<span style="font-weight:bold; color:#608B32;">WELCOME TO THE <em>i-</em>CTERM!<br /><br /></span>
The laboratories of the cellular tissue-engineering and regenerative medicine group headed by Dr. Peter Lelkes, are located on the 8th floor (Room 825) of the College of Engineering building on the Main Campus of Temple University.
<br /><br />
<img class="imageStyle" alt="IMG_0432" src="./img/lab/lab.jpeg" width="570" height="428">
<br/>
<img class="imageStyle" alt="Color Bar" src="./files/color-bar-2.jpg" width="570" height="5">
<br/>
</p>
<br/>
		  <div class="clearer"></div>
	  </div><!-- End content -->

<h3>Summer Student Presentations 2014</h3>

<table border="0" cellspacing="5" cellpadding="5">
  <tr><th>Date</th>
      <th>Presenter</th>
  </tr>
  <tr><td>June 2</td>
      <td>Dr. Shimon Lecht</td>
  </tr>
  <tr><td>June 9</td>
      <td>Sean Devlin</td>
  </tr>
  <tr><td>June 16</td>
      <td>Sogol Baharlou</td>
  </tr>
  <tr><td>June 23</td>
      <td>Jessica Falcón</td>
  </tr>
  <tr><td>June 30</td>
      <td>Luiz Carlos de Caires Júnior</td>
  </tr>
  <tr><td>July 7</td>
      <td>Camila Manso Musso</td>
  </tr>
  <tr><td>July 14</td>
      <td>Azadeh Timnak</td>
  </tr>
  <tr><td>July 21</td>
      <td>Dr. Yoav Sharoni</td>
  </tr>
  <tr><td>July 28</td>
      <td>Ross Brodsky</td>
  </tr>
  <tr><td>August 4</td>
      <td>Emily Tsz Lo</td>
  </tr>
  <tr><td>August 11</td>
      <td>Summer undergraduate student presentations</td>
  </tr>
  <tr><td>August 18</td>
      <td>Collin Stabler</td>
  </tr>
  

</table>
    
{% include footer.html %}