---
title: i-CTERM Lab
---

{% include head.html %}

{% include menu.html %}

	<div id="contentContainer"><!-- Start main content wrapper -->
		<div id="content"><!-- Start content -->
		  <div class="contentSpacer"></div><!-- this makes sure the content is long enough for the design -->
<p style="font:15px Calibri, Arial, Verdana, Helvetica, sans-serif; text-align:justify;"> 
<span style="font-weight:bold; color:#608B32;">WELCOME TO THE <em>i-</em>CTERM!<br /><br /></span>
The laboratories of the cellular tissue-engineering and regenerative medicine group headed by Dr. Peter Lelkes, are located on the 8th floor (Room 825) of the College of Engineering building on the Main Campus of Temple University.
<br /><br />
<img class="imageStyle" alt="IMG_0432" src="./img/lab/lab.jpeg" width="570" height="428">
<br/>
<img class="imageStyle" alt="Color Bar" src="./files/color-bar-2.jpg" width="570" height="5">
<br/>
</p>
<br/>
		  <div class="clearer"></div>
	  </div><!-- End content -->

<h3>Student Presentations</h3>

<table border="0" cellspacing="5" cellpadding="5">
  <tr><th>Date</th>
      <th>Presenter</th>
  </tr>

  {% for presentation in site.data.labcalendar cols:1 %}
  <tr><td>{{presentation.date}}</td>
      <td>{{presentation.who}}</td>
  </tr>
  {% endfor %}

</table>
    
{% include footer.html %}