---
title: About Dr. Lelkes
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head.html %}

<body>
<div id="bar"></div>
<div id="container"><!-- Start container -->

  {% include header.html %}
	
	<div id="contentContainer"><!-- Start main content wrapper -->
		<div id="content"><!-- Start content -->
			<div class="contentSpacer"></div><!-- this makes sure the content is long enough for the design -->
			<div class="image-right"><img class="imageStyle" alt="PIL3" src="files/pil3.jpg" width="173" height="167"/></div><span style="font:15px Calibri; ">Peter I. Lelkes, PhD is the Laura H. Carnell Professor and Chair of the Department of Bioengineering at Temple University. He is also the Director of the Temple Institute for Regenerative Medicine (TIME). <br/><br/>

Prior to moving to Temple, Dr. Lelkes was the Calhoun Chair Professor of Cellular Tissue Engineering in the School of Biomedical Engineering, Science and Health Systems at Drexel University in Philadelphia with adjunct appointments in the Departments of Mechanical Engineering and Mechanics (CoE) and Pathology, Biochemistry and Surgery (DUCOM). Having spent 12 years at the University of Wisconsin Medical School, Dr. Lelkes assumed his position at Drexel University in August 2000, where he directed an interdisciplinary program in tissue engineering and regenerative medicine, focusing on nanotechnology-based biomaterials and soft tissue engineering, employing developmental biological principles to enhance the tissue-specific differentiation of embryonic and adult stem cells. Dr. Lelkes has organized several Keystone conferences and published more than 150 peer-reviewed papers and 45 book chapters and made more than 400 presentations nationally and internationally. <br/><br/>

Dr. Lelkes’s basic and translational research has been support by federal (NIH, NSF, NASA, DOE) and state funding agencies, (NTI and Dept of Commerce, Tobacco Settlement Funds) and private Foundations, including the Coulter Foundation. Dr. Lelkes was been named Director of the Surgical Engineering Enterprise, one of the major of initiative of the strategic plan of Drexel University’s College of Medicine. In addition, Dr. Lelkes has been the team leader for tissue engineering at the Nanotechnology Institute of Southeastern Pennsylvania (NTI) and is the Co-Director of PATRIC, the Pennsylvania Advanced Textile Research and Innovation Center, focusing on Bionanotextiles and Stem Cell Biology.<br/><br/>

In his “free-time” he is an active chamber musician and likes to hike in the mountains.
			
			<br /></span>
                        <div class="clearer"></div>
		</div><!-- End content -->
		
	</div><!-- End main content wrapper -->
	
	<div id="sidebarContainer"><!-- Start Sidebar wrapper -->
		<div id="sidebar"><!-- Start sidebar content -->
		<div class="sideHeader">Contact us</div><!-- Sidebar header --> 
			<!-- sidebar content you enter in the page inspector -->
			 <!-- sidebar content such as the blog archive links -->
		</div><!-- End sidebar content -->
	</div><!-- End sidebar wrapper -->
	
	<div class="clearer"></div>
	
</div><!-- End container -->

<div class="clearer"></div>
<div id="footer"><!-- Start Footer -->
	<p>&copy; 2010 <i>i</I>-CTERM <a href="#" id="rw_email_contact">Contact Us</a><script type="text/javascript">var _rwObsfuscatedHref0 = "mai";var _rwObsfuscatedHref1 = "lto";var _rwObsfuscatedHref2 = ":su";var _rwObsfuscatedHref3 = "san";var _rwObsfuscatedHref4 = "sul";var _rwObsfuscatedHref5 = "liv";var _rwObsfuscatedHref6 = "an6";var _rwObsfuscatedHref7 = "0@g";var _rwObsfuscatedHref8 = "mai";var _rwObsfuscatedHref9 = "l.c";var _rwObsfuscatedHref10 = "om";var _rwObsfuscatedHref = _rwObsfuscatedHref0+_rwObsfuscatedHref1+_rwObsfuscatedHref2+_rwObsfuscatedHref3+_rwObsfuscatedHref4+_rwObsfuscatedHref5+_rwObsfuscatedHref6+_rwObsfuscatedHref7+_rwObsfuscatedHref8+_rwObsfuscatedHref9+_rwObsfuscatedHref10; document.getElementById('rw_email_contact').href = _rwObsfuscatedHref;</script></p>
	<div id="breadcrumbcontainer"><!-- Start the breadcrumb wrapper -->
		<ul><li><a href="../index.html">Home</a>&nbsp;>&nbsp;</li><li><a href="page2.html">About Dr. Lelkes</a>&nbsp;>&nbsp;</li></ul>
	</div><!-- End breadcrumb -->
</div><!-- End Footer -->
</body>
</html>
