---
title: Research Day 2010
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head.html %}    

<body>
<div id="bar"></div>
<div id="container"><!-- Start container -->

  {% include header.html %}
	
	<div id="contentContainer"><!-- Start main content wrapper -->
		<div id="content"><!-- Start content -->
			<div class="contentSpacer"></div><!-- this makes sure the content is long enough for the design -->
			<div class="album-title">Research Day 2010</div>
<div class="album-description"></div>

<div class="album-wrapper"> <!--Start album wrapper -->

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1000-full.html"><img src="files/page25-1000-thumb.jpg" alt="IMG_4698" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4698</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1001-full.html"><img src="files/page25-1001-thumb.jpg" alt="IMG_4708" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4708</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1002-full.html"><img src="files/page25-1002-thumb.jpg" alt="IMG_4706" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4706</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1003-full.html"><img src="files/page25-1003-thumb.jpg" alt="IMG_4705" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4705</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1004-full.html"><img src="files/page25-1004-thumb.jpg" alt="IMG_4676" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4676</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1005-full.html"><img src="files/page25-1005-thumb.jpg" alt="IMG_4677" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4677</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1006-full.html"><img src="files/page25-1006-thumb.jpg" alt="IMG_4678" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4678</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1007-full.html"><img src="files/page25-1007-thumb.jpg" alt="IMG_4679" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4679</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1008-full.html"><img src="files/page25-1008-thumb.jpg" alt="IMG_4687" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4687</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1009-full.html"><img src="files/page25-1009-thumb.jpg" alt="IMG_4683" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4683</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1010-full.html"><img src="files/page25-1010-thumb.jpg" alt="IMG_4701" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4701</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1011-full.html"><img src="files/page25-1011-thumb.jpg" alt="IMG_4702" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4702</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1012-full.html"><img src="files/page25-1012-thumb.jpg" alt="IMG_4689" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4689</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1013-full.html"><img src="files/page25-1013-thumb.jpg" alt="IMG_4692" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4692</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1014-full.html"><img src="files/page25-1014-thumb.jpg" alt="IMG_4681" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4681</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1015-full.html"><img src="files/page25-1015-thumb.jpg" alt="IMG_4711" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4711</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1016-full.html"><img src="files/page25-1016-thumb.jpg" alt="IMG_4710" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4710</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1017-full.html"><img src="files/page25-1017-thumb.jpg" alt="IMG_4686" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4686</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1018-full.html"><img src="files/page25-1018-thumb.jpg" alt="IMG_4685" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4685</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1019-full.html"><img src="files/page25-1019-thumb.jpg" alt="IMG_4718" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4718</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1020-full.html"><img src="files/page25-1020-thumb.jpg" alt="IMG_4714" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4714</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1021-full.html"><img src="files/page25-1021-thumb.jpg" alt="IMG_4720" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4720</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1022-full.html"><img src="files/page25-1022-thumb.jpg" alt="IMG_4717" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4717</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1023-full.html"><img src="files/page25-1023-thumb.jpg" alt="IMG_4712" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4712</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1024-full.html"><img src="files/page25-1024-thumb.jpg" alt="IMG_4703" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4703</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1025-full.html"><img src="files/page25-1025-thumb.jpg" alt="IMG_4704" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4704</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1026-full.html"><img src="files/page25-1026-thumb.jpg" alt="IMG_4675" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4675</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1027-full.html"><img src="files/page25-1027-thumb.jpg" alt="IMG_4684" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4684</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1028-full.html"><img src="files/page25-1028-thumb.jpg" alt="IMG_4700" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4700</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1029-full.html"><img src="files/page25-1029-thumb.jpg" alt="IMG_4682" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4682</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1030-full.html"><img src="files/page25-1030-thumb.jpg" alt="IMG_4709" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4709</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1031-full.html"><img src="files/page25-1031-thumb.jpg" alt="IMG_4699" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4699</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page25-1032-full.html"><img src="files/page25-1032-thumb.jpg" alt="IMG_4680" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_4680</p>
</div>
</div>

</div> <!--End album wrapper -->

			<div class="clearer"></div>
		</div><!-- End content -->
		
	</div><!-- End main content wrapper -->
	
	<div id="sidebarContainer"><!-- Start Sidebar wrapper -->
		<div id="sidebar"><!-- Start sidebar content -->
		<div class="sideHeader"></div><!-- Sidebar header --> 
			<!-- sidebar content you enter in the page inspector -->
			 <!-- sidebar content such as the blog archive links -->
		</div><!-- End sidebar content -->
	</div><!-- End sidebar wrapper -->
	
	<div class="clearer"></div>
	
</div><!-- End container -->

<div class="clearer"></div>

  {% include footer.html}
  </body>
</html>
