---
title: HUB Symposium
---

{% include head.html %}    

{% include menu.html %}


<!-- Stacks v1.2.4 -->
<div class='stacks_top'>
<div class='stacks_out' style='width: 100%;' >
<div class='stacks_in' style='margin-top: 2px;margin-bottom: 2px;margin-left: 2px;margin-right: 2px;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;padding-right: 5px;' >
<div class='centered_image' ><img class="imageStyle" alt="stacks_image_33B743F4-8917-40F1-9255-A4DEB7F80FE6" src="files/stacks_image_2_1.png" width="566" height="153"/></div>
<div class='stacks_clearer'></div>
</div>
</div>
<div class='stacks_out' style='width: 100%;' >
<div class='stacks_in' style='margin-top: 2px;margin-bottom: 2px;margin-left: 2px;margin-right: 2px;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;padding-right: 5px;' >
<span style="font:15px Calibri; "><br />The goal of the HUB symposium is to bring together and pair up premier scientists and engineers from a number of Colleges at Drexel University and the Institute for Drug Research at the Hebrew University, Jerusalem in order to define and advance joint translational biomedical research projects, which will result in the creation and subsequent commercialization of new pharmaceuticals, enhanced drug delivery technologies, promising biomedical devices, and improved biomedical procedures. <br /><br />Organizers:<br /><br /></span><span style="font:15px Calibri; color:#101010;"><a href="../page11/page12/page12.html" rel="self" title="Faculty">Peter I. Lelkes, Ph.D.</a></span><span style="font:15px Calibri; color:#101010;"> | </span><span style="font:15px Calibri; color:#101010;"><a href="../page11/page18/page18.html" rel="self" title="Visiting Scholars">Philip Lazarovici, Ph.D.</a></span><span style="font:15px Calibri; "><br /><br /></span>
<div class='stacks_clearer'></div>
</div>
</div>
<div class='stacks_out' style='width: 100%;' >
<div class='stacks_in' style='margin-top: 2px;margin-bottom: 2px;margin-left: 2px;margin-right: 2px;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;padding-right: 5px;' >
<div class='stacks_div' style='float:left; margin-right:20px;'><div class='centered_image' ><img class="imageStyle" alt="stacks_image_D86A4B27-008D-466B-B611-A083E3370E53" src="files/stacks_image_6_1.png" width="68" height="73"/></div></div>
<span style="font:15px Calibri; "><a href="assets/Welcome Letters for website.pdf" rel="self">Welcome Letter</a></span><span style="font:15px Calibri; "><br /><br /></span><span style="font:15px Calibri; "><a href="assets/Program Agenda 8 24 10 for Website.pdf" rel="self">Program Agenda</a></span>
<div class='stacks_clearer'></div>
</div>
</div>
<div class='stacks_out' style='width: 100%;' >
<div class='stacks_in' style='margin-top: 2px;margin-bottom: 2px;margin-left: 2px;margin-right: 2px;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;padding-right: 5px;' >
<div class='stacks_div' style='float:left; margin-right:20px;'><div class='centered_image' ><img class="imageStyle" alt="stacks_image_76D14C0F-6656-41A5-A616-DBB01360C244" src="files/stacks_image_9_1.png" width="72" height="72"/></div></div>
<span style="font:15px Calibri; "><a href="assets/Directory Participant for Website.pdf" rel="self">List of Participants</a></span><span style="font:15px Calibri; "> | </span><span style="font:15px Calibri; "><a href="assets/HUB Participants Email Contacts.xls" rel="self">Contacts</a></span><span style="font:15px Calibri; "><br /><br /></span><span style="font:15px Calibri; "><a href="assets/Abstracts List for website.pdf" rel="self">Abstracts</a></span>
<div class='stacks_clearer'></div>
</div>
</div>
<div class='stacks_out' style='width: 100%;' >
<div class='stacks_in' style='margin-top: 2px;margin-bottom: 2px;margin-left: 2px;margin-right: 2px;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;padding-right: 5px;' >
<div class='stacks_div' style='float:left; margin-right:20px;'><div class='centered_image' ><img class="imageStyle" alt="stacks_image_4807F943-A6EA-445D-9416-C3EE3872FDD9" src="files/stacks_image_12_1.png" width="74" height="74"/></div></div>
<span style="font:15px Calibri; "><a href="assets/Event Location for website.pdf" rel="self">Event Locations</a></span><span style="font:15px Calibri; "><br /><br /></span><span style="font:15px Calibri; "><a href="../page30/page33/page33.html" rel="self" title="Bi-national DU HU HUB Symposium">Pictures</a></span>
<div class='stacks_clearer'></div>
</div>
</div>
<div class='stacks_out' style='width: 100%;' >
<div class='stacks_in' style='margin-top: 2px;margin-bottom: 2px;margin-left: 2px;margin-right: 2px;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;padding-right: 5px;' >
<div class='stacks_div' style='float:left; margin-right:20px;'><div class='centered_image' ><img class="imageStyle" alt="stacks_image_D19B02D2-9C53-4CB6-BD10-9F445D5BC46B" src="files/stacks_image_15_1.png" width="76" height="80"/></div></div>
<span style="font:15px Calibri; "><a href="assets/Thank You Staff for website.pdf" rel="self">Acknowledegment	</a></span><span style="font:15px Calibri; "><br /><br /></span><span style="font:15px Calibri; "><a href="assets/HUB Booklet 8 24 10 FINAL.pdf" rel="self">Event Booklet</a></span>
<div class='stacks_clearer'></div>
</div>
</div>
<div class='stacks_out' style='width: 100%;' >
<div class='stacks_in' style='margin-top: 2px;margin-bottom: 2px;margin-left: 2px;margin-right: 2px;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;padding-right: 5px;' >
<span style="font:14px Calibri; "><br /></span><span style="font:15px Calibri; ">We would like to thank the following institutions and companies for their generous contributions toward the event:<br /><br /></span><span style="font:15px Calibri; ">- Provost Office, Drexel University, Philadelphia <br />- Office of International Programs, Drexel University, Philadelphia<br />- Office of Institutional Advancement, Drexel University, Philadelphia<br />- School of Biomedical Engineering, Science & Health Systems, Drexel University, Philadelphia<br />- Institute for Drug Research, Faculty of Medicine, The Hebrew University of Jerusalem <br />- Morphotek Inc.<br />- Consulate General of Israel, Philadelphia<br />- Ben Franklin Technology Partners, Southeastern Pennsylvania<br /></span>
<div class='stacks_clearer'></div>
</div>
</div>
<div class='stacks_out' style='width: 100%;' >
<div class='stacks_in' style='margin-top: 2px;margin-bottom: 2px;margin-left: 2px;margin-right: 2px;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;padding-right: 5px;' >
<div class='centered_image' ><img class="imageStyle" alt="stacks_image_092BB347-3B31-4391-8AB1-0B048515D95F" src="files/stacks_image_20_1.png" width="638" height="145"/></div>
<div class='stacks_clearer'></div>
</div>
</div>

<div class='stacks_clearer'></div>
</div>
<!-- End of Stacks Content -->

{% include footer.html %}