---
title: Contact Us
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head.html %}    

<body>
<div id="bar"></div>
<div id="container"><!-- Start container -->

  {% include header.html %}
	
	<div id="contentContainer"><!-- Start main content wrapper -->
		<div id="content"><!-- Start content -->
			<div class="contentSpacer"></div><!-- this makes sure the content is long enough for the design -->
			<p style="text-align:justify;">

<span style="font:15px Arial, Verdana, Helvetica, sans-serif; font-weight:bold; color:#608B32;font-weight:bold; ">
CONTACT INFORMATION</span>

<br /><br />

<span style="font:14px LucidaSans-Demi; font-weight:bold; font-weight:bold; ">Peter I. Lelkes, PhD<br /></span>
<span style="font:15px Calibri; ">Fellow, American Institute for Medical & Biological Engineering <br/>
Laura H. Carnell Professor and Chair, Dept. Bioengineering, College of Engineering <br/>
Director, Temple Institute for Regenerative Medicine and Engineering (TIME) <br/>
Professor of Surgery, Temple School of Medicine, Department of Surgery <br/>
Professor of Cancer Biology,  Fox Chase Cancer Center</span>

<br /><br />
	
<span style="font:15px Calibri; ">Temple University<br/>
Engineering Building Room 811<br/>
1947 N. 12th Street<br/>
Philadelphia, PA 19122</span>

<br /><br />
	
<span style="font:15px Calibri; ">Tel: +1 (215) 204-3307<br/>
FAX: +1 (215) 204-3326<br/>
email: <a href="mailto:pilelkes@temple.edu">pilelkes@temple.edu</a></span>

<br /><br />

<span style="font:14px LucidaSans-Demi; font-weight:bold; font-weight:bold; ">Yah-el Har-el, PhD<br /></span>
<span style="font:15px Calibri; ">Assistant Research Professor, College of Engineering</span>

<br /><br />
	
<span style="font:15px Calibri; ">Temple University<br/>
Engineering Building Room 812<br/>
1947 N. 12th Street<br/>
Philadelphia, PA 19122</span>

<br /><br />
	
<span style="font:15px Calibri; ">Tel: +1 (215) 204-3426<br/>
FAX: +1 (215) 204-3326<br/>
email: <a href="mailto:yahel@temple.edu">yahel@temple.edu</a></span>
	
</p>
			<div class="clearer"></div>
		</div><!-- End content -->
		
	</div><!-- End main content wrapper -->
	
	<div id="sidebarContainer"><!-- Start Sidebar wrapper -->
		<div id="sidebar"><!-- Start sidebar content -->
		<div class="sideHeader">Home</div><!-- Sidebar header --> 
			<!-- sidebar content you enter in the page inspector -->
			 <!-- sidebar content such as the blog archive links -->
		</div><!-- End sidebar content -->
	</div><!-- End sidebar wrapper -->
	
	<div class="clearer"></div>
	
</div><!-- End container -->

<div class="clearer"></div>

  {% include footer.html%}
  </body>
</html>
