---
title: Lelkes Lab Seminar Session
---

{% include head.html %}    

{% include menu.html %}

			<div class="album-title">Seminar Session</div>
<div class="album-description"></div>

<div class="album-wrapper"> <!--Start album wrapper -->

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1000-full.html"><img src="files/page26-1000-thumb.jpg" alt="DSCF0544-1" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0544-1</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1001-full.html"><img src="files/page26-1001-thumb.jpg" alt="DSCF0545" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0545</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1002-full.html"><img src="files/page26-1002-thumb.jpg" alt="DSCF0546" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0546</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1003-full.html"><img src="files/page26-1003-thumb.jpg" alt="DSCF0547-1" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0547-1</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1004-full.html"><img src="files/page26-1004-thumb.jpg" alt="DSCF0548" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0548</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1005-full.html"><img src="files/page26-1005-thumb.jpg" alt="DSCF0549" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0549</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1006-full.html"><img src="files/page26-1006-thumb.jpg" alt="DSCF0551-1" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0551-1</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1007-full.html"><img src="files/page26-1007-thumb.jpg" alt="DSCF0552" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0552</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1008-full.html"><img src="files/page26-1008-thumb.jpg" alt="DSCF0553" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0553</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1009-full.html"><img src="files/page26-1009-thumb.jpg" alt="DSCF0554" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0554</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1010-full.html"><img src="files/page26-1010-thumb.jpg" alt="DSCF0555" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0555</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1011-full.html"><img src="files/page26-1011-thumb.jpg" alt="DSCF0556" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0556</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1012-full.html"><img src="files/page26-1012-thumb.jpg" alt="DSCF0557-1" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0557-1</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1013-full.html"><img src="files/page26-1013-thumb.jpg" alt="DSCF0558-1" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0558-1</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page26-1014-full.html"><img src="files/page26-1014-thumb.jpg" alt="DSCF0559" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0559</p>
</div>
</div>

</div> <!--End album wrapper -->

{% include footer.html %}