---
title: Contact Us
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head.html %}    

<body>
<div id="bar"></div>
<div id="container"><!-- Start container -->

  {% include header.html %}
	
	<div id="contentContainer"><!-- Start main content wrapper -->
		<div id="content"><!-- Start content -->
			<div class="contentSpacer"></div><!-- this makes sure the content is long enough for the design -->
			<p style="text-align:justify;">

<span style="font:15px Arial, Verdana, Helvetica, sans-serif; font-weight:bold; color:#608B32;font-weight:bold; ">
CONTACT INFORMATION</span>

<br /><br />

<span style="font:14px LucidaSans-Demi; font-weight:bold; font-weight:bold; ">Peter I. Lelkes, PhD<br /></span>
<span style="font:15px Calibri; ">Fellow, American Institute for Medical & Biological Engineering <br/>
Laura H. Carnell Professor and Chair, Dept. Bioengineering, College of Engineering <br/>
Director, Temple Institute for Regenerative Medicine and Engineering (TIME) <br/>
Professor of Surgery, Temple School of Medicine, Department of Surgery <br/>
Professor of Cancer Biology,  Fox Chase Cancer Center</span>

<br /><br />
	
<span style="font:15px Calibri; ">Temple University<br/>
Engineering Building Room 811<br/>
1947 N. 12th Street<br/>
Philadelphia, PA 19122</span>

<br /><br />
	
<span style="font:15px Calibri; ">Tel: +1 (215) 204-3307<br/>
FAX: +1 (215) 204-3326<br/>
email: <a href="mailto:pilelkes@temple.edu">pilelkes@temple.edu</a></span>

<br /><br />

<span style="font:14px LucidaSans-Demi; font-weight:bold; font-weight:bold; ">Yah-el Har-el, PhD<br /></span>
<span style="font:15px Calibri; ">Assistant Research Professor, College of Engineering</span>

<br /><br />
	
<span style="font:15px Calibri; ">Temple University<br/>
Engineering Building Room 812<br/>
1947 N. 12th Street<br/>
Philadelphia, PA 19122</span>

<br /><br />
	
<span style="font:15px Calibri; ">Tel: +1 (215) 204-3426<br/>
FAX: +1 (215) 204-3326<br/>
email: <a href="mailto:yahel@temple.edu">yahel@temple.edu</a></span>
	
</p>
			<div class="clearer"></div>
		</div><!-- End content -->
		
	</div><!-- End main content wrapper -->
	
	<div id="sidebarContainer"><!-- Start Sidebar wrapper -->
		<div id="sidebar"><!-- Start sidebar content -->
		<div class="sideHeader">Home</div><!-- Sidebar header --> 
			<!-- sidebar content you enter in the page inspector -->
			 <!-- sidebar content such as the blog archive links -->
		</div><!-- End sidebar content -->
	</div><!-- End sidebar wrapper -->
	
	<div class="clearer"></div>
	
</div><!-- End container -->

<div class="clearer"></div>
<div id="footer"><!-- Start Footer -->
	<p>&copy; 2010 <i>i</I>-CTERM <a href="#" id="rw_email_contact">Contact Us</a><script type="text/javascript">var _rwObsfuscatedHref0 = "mai";var _rwObsfuscatedHref1 = "lto";var _rwObsfuscatedHref2 = ":su";var _rwObsfuscatedHref3 = "san";var _rwObsfuscatedHref4 = "sul";var _rwObsfuscatedHref5 = "liv";var _rwObsfuscatedHref6 = "an6";var _rwObsfuscatedHref7 = "0@g";var _rwObsfuscatedHref8 = "mai";var _rwObsfuscatedHref9 = "l.c";var _rwObsfuscatedHref10 = "om";var _rwObsfuscatedHref = _rwObsfuscatedHref0+_rwObsfuscatedHref1+_rwObsfuscatedHref2+_rwObsfuscatedHref3+_rwObsfuscatedHref4+_rwObsfuscatedHref5+_rwObsfuscatedHref6+_rwObsfuscatedHref7+_rwObsfuscatedHref8+_rwObsfuscatedHref9+_rwObsfuscatedHref10; document.getElementById('rw_email_contact').href = _rwObsfuscatedHref;</script></p>
	<div id="breadcrumbcontainer"><!-- Start the breadcrumb wrapper -->
		<ul><li><a href="../index.html">Home</a>&nbsp;>&nbsp;</li><li><a href="page3.html">Contact Us</a>&nbsp;>&nbsp;</li></ul>
	</div><!-- End breadcrumb -->
</div><!-- End Footer -->
</body>
</html>
