---
title: News and Events
---

{% include head.html %}    

{% include menu.html %}

			<p style="text-align:justify;">
			
<span style="font:15px Arial, Verdana, Helvetica, sans-serif; font-weight:bold; color:#608B32;font-weight:bold; ">NEWS AND EVENTS</span>

<span style="font:15px Calibri; color:#000000;"><br /><br />

Congratulations to Anat and Uri Katsir on the birth of a girl, Tamar Katsir, on July 7, 2011! 
<br/><br/>

Congratulations to Diane Keene and Brian Kambach on the birth of a girl, Rachel Catherine Kambach, on May 15, 2011! 
<br/><br/>

Collin Stabler, PhD student,  was awarded a fellowship from the NASA Graduate Student Research Program on the topic of "Enhanced Differentiation of Mouse Embryonic Stem Cells in NASA-Developed Rotating Wall Vessel (RWV) for Pulmonary Tissue Engineering and Regenerative Medicine". The fellowship includes ten weeks each year working at the Johnson Space Center in Houston TX with the inventor of the RWV, Dr. David Wolf. 

Gregory Botta, MD/PhD student, was selected for a Young Investigator Travel Award to the Federation of European Biochemical Societies Matrix Pathobiology, Signaling and Molecular Targets Advanced Lecutre Course this September (2011) in Spetses, Greece.
<br/>
[<a href="http://www.febs-mpst2011.upatras.gr/">conference website</a>]
<br/><br/>

Gregory Botta, MD/PhD student, received a graduate award to attend the meeting of Nobel Laureates in Lindau, Germany this summer. Since 1951, Nobel Laureates in chemistry, physics, and physiology/medicine convene annually in Lindau, Germany, to have open and informal meetings with students and young researchers. 
<br/>
[<a href="http://www.drexel.edu/fellowships/about/newsevents/news-11-02-10/">read more</a>]
<br/><br/>

Gregory Botta, MD/PhD student, chaired the 2011 Joint Meeting between the American Physician Scientists Association (APSA), American Society for Clinical Investigation (ASCI), and the Association of American Physicians (AAP) in Chicago, Illinois. Greg will continue his APSA leadership in 2012 as the Member-at-Large for MD/PhD’s.
<br/>
[<a href="http://www.physicianscientists.org/meetings/annual/2011">read more</a>]
<br/><br/>

BIOMED team awarded $10 million from Wallace H. Coulter Foundation to endow the Coulter Translational Research Partnership Program, together with Duke, Michigan, Stanford and Virginia. One of the final push that contributes to the success of Coulter's support is their recent visit to BIOMED and i-CTERM laboratories in DUCoM.  
<br/>
[<a href="./page30/page41/page41.html" rel="self" title="Coulter Site Visit 2010">see site visit pictures</a>]
<br/><br/>

Dr. Lelkes and Tracy Zhu, MS student, are quoted in Philadelphia University's Innovator article in relation to join research in Developing and Testing Biomedical Textile Devices. 
<br/>
[<a href="http://www.philau.edu/innovator/fall2010/#/6/">read more</a>]
<br /><br />


Gregory Botta, MD/PhD student, attained the Drexel's International Travel Award and will attend the "1st International Forum on Prospectives in Cancer Research and Treatment (ProCaRT)" in Paris, France November 3-9, 2010. 
<br/>
[<a href="http://www.events-inca.com/forum/?lang=en">read more</a>]
<br/><br/>

<strong>Dr. Peter Lelkes was elected to the American Institute for Medical and Biological Engineering (AIMBE) College of Fellows, October 2010.</strong> The major criterion for admission to the AIMBE College of Fellows is a demonstrable record of individual achievement in research, development, education, manufacturing, public service, technological leadership and/or clinical practice as they relate to medical and biological engineering.
<br /><br />

Dr. Lelkes was awarded by the Royal Society of Engineering a Distinguished Visiting Fellowship to Imperial College to collaborate with Dame Julia Polak and Professor Tsakis Mantalaris on lung tissue engineering.
<br/>
[<a href="http://www.raeng.org.uk/research/researcher/dvfs/award_holders.htm">read more</a>]
<br/><br/>

Dr. Lelkes will participate in the "1st Annual World Congress of Nanomedicine" on October 23-25, 2010 in Beijing, China, chairing track 7-4: <strong>Regenerative Medicine and Nanostructural Scaffolds in Tissue, Cell and Organ Engineering</strong>, and will present keynote lecture on <em>"Intelligent Nanosized Biomaterials for Tissue Engineering and Regenerative Medicine."</em> 
<br/>
[<a href="http://www.bitlifesciences.com/nanomedicine2010/default.asp">read more</a>]
<br/><br/>

Dr. Lelkes participated in the First Annual World Congress of Nanomedicine on October 23–25, 2010 in Beijing China, where he chaired the “Regenerative Medicine and Nanostructural Scaffolds in Tissue, Cell and Organ Engineering” track and presented a keynote lecture titled ”Intelligent Nanosized Biomaterials for Tissue Engineering and Regenerative Medicine.”
<br />
[<a href="http://www.bitlifesciences.com/nanomedicine2010/default.asp">read more</a>]
<br/><br/>

Gregory Botta, MD/PhD student, won the First Place Prize for Outstanding Platform Presentation at the 2010 Drexel Discovery Research Day for the presentation “K-Ras Activation of ERK2 in Pancreatic Cells Regulates Invasion via Induction of MMP1 & TIMP1.” The co-authors were Mauricio Reginato (DUCoM), Anil Rustgi (UPenn), and Peter Lelkes (Drexel BIOMED).
<br />
[<a href="http://www.drexelmed.edu/Home/AcademicPrograms/BiomedicalGraduateStudies/DiscoveryDayResearchDay.aspx">read more</a>]
[<a href="http://www.drexelmed.edu/Portals/0/NewsPager_NovDec10.pdf" rel="self">PDF</a>]
<br/><br/>

Gregory Botta, MD/PhD student, from the program in Molecular and Cell Biology and Genetics won the First prize for 2010 Discovery Day's "Outstanding Platform Presentation". 
<a href="http://www.drexelmed.edu/Home/AcademicPrograms/BiomedicalGraduateStudies/DiscoveryDayResearchDay.aspx">[read more]</a>

Gregory Botta, MD/PhD student, was awarded the Bondi Fellowship for Continuing PhD Student in Excellence in Research"

Qingwei Zhang, PhD co-authored a research paper with D.Wootton, Drs. Peter Lelkes and Jack Zhou, won the Best Paper Award in the 9th International Conference on Frontiers of Design and Manufacuring Sciences (ICFDM) in Changsa, China. 
<br/>
[<a href="http://www.ourglocal.com/event/?eventid=3290">read more</a>]
[<a href="assets/The preparation of co-continuous micro-porous PLLA scaffolds and their application for bone tissue regeneration abstract.pdf">abstract</a>]
<br/><br/>

Gözde Senez-Ayaz, PhD student, presented a research paper for the <em>Annual International Conference of the IEEE Engineering in Medicine and Biology Society</em> in Buenos Aires, Argentina, September 1, 2010. Gözde Senel-Ayaz, Anat Perets, and Dr. Peter Lelkes  co-authored the paper with David Brookstein and Professor Muthu Govindaraj from PhilaU.  
<br/>
[<a href="http://www.philau.edu/today/headlines/?p=825">read more</a>]
<br/><br/>

The Bi-National Drexel University / Hebrew University Translational Biomedical Research Symposium was held at Drexel University on August 29 - 31, 2010 and attended by 65 participants. 
<br/>
[<a href="../page30/page32/page32.html">read more</a>]
<br/><br/>

Dr. Lelkes is one of the 2010 Coulter Grant recipients, together with Drs. Papazoglou and Weingarten (DUCoM). 
<br/>
[<a href="http://www.biomed.drexel.edu/new04/Content/Translational_Research/Coulter/projects.cfm">read more</a>]
<br/><br/>

Dr. Lelkes is quoted in Nature News: "Making lungs in the lab: The study on implanted tissue and microchip mimic both performs functions of lung."
<br/>
[<a href="http://www.nature.com/news/2010/100624/full/news.2010.314.html">read more</a>]
<br/><br/>

Dr. Elizabeth Papazoglou is awarded tenure and promoted to the rank of Associate Professor effective September 1, 2010.
<br/><br/>

Dr. Peter Lelkes attended the 18th Annual International Conference on COMPOSITES/NANO ENGINEERING (ICCE -18), in Anchorage, Alaska, July 4-10th, 2010.  
<br/>
[<a href="http://imechanica.org/node/7153">read more</a>]
[<a href="http://myweb.polyu.edu.hk/~mmktlau/ICCE/Accepted%20Papers.pdf">abstract</a>]
<br/><br/>

Commencement Celebration Reception, June 11st, 2010
<br/>
[<a href="http://www.biomed.drexel.edu/new04/Content/news_events/Commencement2010/">read more</a>]
<br/><br/>

Gregory Botta, MD/PhD student, receives the NIH Fellowship Grant for Alcohol Inflammatory Chemokine and Fibrosis Induced Reactive Oxygen Species Project
<br/>
[<a href="http://www.biomed.drexel.edu/new04/Content/news_events/Commencement2010/CommencementProgram2010.pdf">read more</a>]
<br/><br/>

Diane Keene, PhD student, attended the prestigious NASA Space Radiation Summer School, June 2010
<br/>
[<a href="http://www.dsls.usra.edu/spacerad/2010/">read more</a>]
<br/><br/>

Peter Lelkes, PhD attended the First Global Inoviz Conference: <em>Izmir for Health</em>, on May 24-25th, 2010 in Izmir, Turkey.
<br/>
[<a href="http://www.izmirforhealth.com/firstday.html">read more</a>]
<br/><br/>

Gregory Botta attended the <em>Days of Molecular Medicine</em> conference at Stockholm, May 20-22nd, 2010. 
<br/>
[<a href="http://www2.massgeneral.org/cvrc/meetings_molecular_agenda.html">read more</a>]
<br/><br/>

Dr. Peter Lelkes, Calhoun Chair Professor of Cellular Tissue Engineering in BIOMED and Scientific Director of Surgical Engineering Enterprise in the College of Medicine, chaired the Translational Medicine and Applied Biotechnology Workshop, held at the College of Medicine on January 28, 2010. The workshop, &ldquo;SEEing the Future: The Surgical Enterprise (SEE) and Beyond, focused on surgical engineering and interdisciplinary collaboration amongst various departments and schools and the University.
<br/>
[<a href="http://www.drexel.edu/news/digest/default.aspx?d=1%2F26%2F2010&id=6618">read more</a>]
<br/><br/>

Dr. Lelkes appears in Philadelphia Business Journal article on Medical Textiles.
<br/>
[<a href="http://philadelphia.bizjournals.com/philadelphia/stories/2009/11/02/story10.html">read more</a>]
<br/><br/>

Dr. Peter Lelkes, Calhoun Chair Professor of Cellular Tissue Engineering in BIOMED (Co-PI), Dr. Jack Zhou (PI &ndash; MEM), Dr. Qingwei Zhang (DUCoM), Dr. Vadym Mochalin (MSE), and Dr. Yury Gogotsi, (MSE), won first place in the American Ceramic Society Ceramographic Competition with poster titled &ldquo;Fluorescent Nanodiamond Reinforced PLLA Scaffolds For Tissue Engineering and Bone Repair&rdquo;
<br/>
[<a href="http://www.materials.drexel.edu/news/item/?i=3971">read more</a>]
<br/><br/>

Dr. Lelkes was interviewed on the Science Magazine Podcast for June 25th, 2010. The topic was “Engineered Lung Tissue.” 
<br/>
[<a href="http://podcasts.aaas.org/science_podcast/SciencePodcast_100625.mp3">listen to podcast</a>]
[<a href="http://www.sciencemag.org/cgi/data/328/5986/1716-b/DC1/1">transcript</a>]
<br/><br/>

</span></p>

{% include footer.html %}