---
title: Translational Workshop Jan 28th, 2010
---

{% include head.html %}    

{% include menu.html %}

			<div class="album-title">Translational Workshop 2010</div>
<div class="album-description"></div>

<div class="album-wrapper"> <!--Start album wrapper -->

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page28-1000-full.html"><img src="files/page28-1000-thumb.jpg" alt="DSCF0070" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0070</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page28-1001-full.html"><img src="files/page28-1001-thumb.jpg" alt="DSCF0053" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0053</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page28-1002-full.html"><img src="files/page28-1002-thumb.jpg" alt="DSCF0069_2" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0069_2</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page28-1003-full.html"><img src="files/page28-1003-thumb.jpg" alt="DSCF0064" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0064</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page28-1004-full.html"><img src="files/page28-1004-thumb.jpg" alt="DSCF0060" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0060</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page28-1005-full.html"><img src="files/page28-1005-thumb.jpg" alt="DSCF0051_2_2" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0051_2_2</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page28-1006-full.html"><img src="files/page28-1006-thumb.jpg" alt="DSCF0067" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0067</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page28-1007-full.html"><img src="files/page28-1007-thumb.jpg" alt="DSCF0061" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0061</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page28-1008-full.html"><img src="files/page28-1008-thumb.jpg" alt="DSCF0049" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0049</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page28-1009-full.html"><img src="files/page28-1009-thumb.jpg" alt="DSCF0045_3" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0045_3</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page28-1010-full.html"><img src="files/page28-1010-thumb.jpg" alt="DSCF0052_2" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0052_2</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page28-1011-full.html"><img src="files/page28-1011-thumb.jpg" alt="DSCF0052_4" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0052_4</p>
</div>
</div>

</div> <!--End album wrapper -->

{% include footer.html %}