---
title: Dr. Lelkes 60th Birthday
---

{% include head.html %}    

{% include header.html %}

			<div class="album-title">Dr. Lelkes 60th Birthday</div>
<div class="album-description"></div>

<div class="album-wrapper"> <!--Start album wrapper -->

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page27-1000-full.html"><img src="files/page27-1000-thumb.jpg" alt="DSCF0034" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0034</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page27-1001-full.html"><img src="files/page27-1001-thumb.jpg" alt="DSCF0224" width="144" height="144"/></a>
<p class="thumbnail-caption">DSCF0224</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page27-1002-full.html"><img src="files/page27-1002-thumb.jpg" alt="IMG_0004" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_0004</p>
</div>
</div>

<div class="thumbnail-wrap" style="width:144px; height:144px;">
<div class="thumbnail-frame" style="width:144px;">
<a href="files/page27-1003-full.html"><img src="files/page27-1003-thumb.jpg" alt="IMG_0005" width="144" height="144"/></a>
<p class="thumbnail-caption">IMG_0005</p>
</div>
</div>

</div> <!--End album wrapper -->

{% include footer.html %}