--- title: People ---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
	</head>
	<body>
		<p>
		 {% include head.html %}
		</p>
		<div id="bar"></div>
		<div id="container">
			<!-- Start container -->
			{% include header.html %}
			<div id="contentContainer">
				<!-- Start main content wrapper -->
				<div id="content">
					<!-- Start content -->
					<div class="contentSpacer"></div><!-- this makes sure the content is long enough for the design -->
					<div class="image-right">
						<img class="imageStyle" alt="IMG_0045" src="files/img_0045.jpg" width="530" height="331" /><br />
						<br />
					</div>
					<ul class="disc">
						<li>
							<span style="font:15px Calibri;"><a href="./faculty.html" rel="self" title="Faculty">Faculty</a></span>
						</li>
						<li>
							<span style="font:15px Calibri;"><a href="./visiting.html" rel="self" title="Visiting Scholars">Visiting Scholars</a></span>
						</li>
						<li>
							<span style="font:15px Calibri;"><a href="./postdocs.html" rel="self" title="Post Doctorate Fellows">Post Doctorate Fellows</a></span>
						</li>
						<li>
							<span style="font:15px Calibri;"><a href="./students.html" rel="self" title="Students and Researchers">Students and Researchers</a></span>
						</li>
						<li>
							<span style="font:15px Calibri;"><a href="./staff.html" rel="self" title="Staff">Staff</a></span>
						</li>
						<li>
							<span style="font:15px Calibri;"><a href="./alumni.html" rel="self" title="Alumni">Alumni</a></span>
						</li>
					</ul>
					<div class="clearer"></div>
				</div><!-- End content -->
			</div><!-- End main content wrapper -->
			<div id="sidebarContainer">
				<!-- Start Sidebar wrapper -->
				<div id="sidebar">
					<!-- Start sidebar content -->
					<div class="sideHeader">
						Home
					</div><!-- Sidebar header --><!-- sidebar content you enter in the page inspector -->
					<!-- sidebar content such as the blog archive links -->
				</div><!-- End sidebar content -->
			</div><!-- End sidebar wrapper -->
			<div class="clearer"></div>
		</div><!-- End container -->
		<div class="clearer"></div>
		<p>
			{% include footer.html %}
		</p>
	</body>
</html>
