<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
	</head>
	<body>
		<p>
			--- title: People --- {% include head.html %}
		</p>
		<div id="bar"></div>
		<div id="container">
			<!-- Start container -->
			{% include header.html %}
			<div id="contentContainer">
				<!-- Start main content wrapper -->
				<div id="content">
					<!-- Start content -->
					<div class="contentSpacer"></div><!-- this makes sure the content is long enough for the design -->
					<div class="image-right">
						<img class="imageStyle" alt="IMG_0045" src="files/img_0045.jpg" width="530" height="331" /><br />
						<br />
					</div>
					<ul class="disc">
						<li>
							<span style="font:15px Calibri;"><a href="../page11/page12/page12.html" rel="self" title="Faculty">Faculty</a></span>
						</li>
					</ul>
					<ul class="circle">
						<li>
							<span style="font:11px Verdana, serif; color:#1C2993;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font:15px Calibri;"><a href="../page11/page12/page12.html" rel="self" title="Faculty">Assistant Research Professor</a></span>
						</li>
					</ul>
					<ul class="disc">
						<li>
							<span style="font:15px Calibri;"><a href="../page11/page18/page18.html" rel="self" title="Visiting Scholars">Visiting Scholars</a></span>
						</li>
						<li>
							<span style="font:15px Calibri;"><a href="../page11/page13/page13.html" rel="self" title="Post Doctorate Fellows">Post Doctorate Fellows</a></span>
						</li>
						<li>
							<span style="font:15px Calibri;"><a href="../page11/page14/page14.html" rel="self" title="Students and Researchers">Students and Researchers</a></span>
						</li>
					</ul>
					<ul class="circle">
						<li>
							<span style="font:11px Verdana, serif; color:#1C2993;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font:15px Calibri;"><a href="../page11/page14/page14.html" rel="self" title="Students and Researchers">M.D. and M.D./Ph.D Students</a></span>
						</li>
						<li>
							<span style="font:11px Verdana, serif; color:#1C2993;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font:15px Calibri;"><a href="../page11/page14/page14.html" rel="self" title="Students and Researchers">Ph.D. Students</a></span>
						</li>
						<li>
							<span style="font:11px Verdana, serif; color:#1C2993;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font:15px Calibri;"><a href="../page11/page14/page14.html" rel="self" title="Students and Researchers">M.S. Students</a></span>
						</li>
						<li>
							<span style="font:11px Verdana, serif; color:#1C2993;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font:15px Calibri;"><a href="../page11/page14/page14.html" rel="self" title="Students and Researchers">M.S./B.S. and B.S. Students</a></span>
						</li>
						<li>
							<span style="font:11px Verdana, serif; color:#1C2993;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font:15px Calibri;"><a href="../page11/page14/page14.html" rel="self" title="Students and Researchers">Summer Students/M.D.</a></span>
						</li>
					</ul>
					<ul class="disc">
						<li>
							<span style="font:15px Calibri;"><a href="../page11/page20/page20.html" rel="self" title="Assistant Research Professor">Certified Veterinary Nurse</a></span>
						</li>
						<li>
							<span style="font:15px Calibri;"><a href="../page11/page15/page15.html" rel="self" title="Staff">Staff</a></span>
						</li>
						<li>
							<span style="font:15px Calibri;"><a href="../page11/page17/page17.html" rel="self" title="Alumni">Alumni</a></span>
						</li>
					</ul>
					<div class="clearer"></div>
				</div><!-- End content -->
			</div><!-- End main content wrapper -->
			<div id="sidebarContainer">
				<!-- Start Sidebar wrapper -->
				<div id="sidebar">
					<!-- Start sidebar content -->
					<div class="sideHeader">
						Home
					</div><!-- Sidebar header --><!-- sidebar content you enter in the page inspector -->
					<!-- sidebar content such as the blog archive links -->
				</div><!-- End sidebar content -->
			</div><!-- End sidebar wrapper -->
			<div class="clearer"></div>
		</div><!-- End container -->
		<div class="clearer"></div>
		<p>
			{% include footer.html %}
		</p>
	</body>
</html>
