---
title: Publications
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head.html %}    

<body>
<div id="bar"></div>
<div id="container"><!-- Start container -->

  {% include header.html %}
	
	<div id="contentContainer"><!-- Start main content wrapper -->
		<div id="content"><!-- Start content -->
			<div class="contentSpacer"></div><!-- this makes sure the content is long enough for the design -->
			<p>
  <span style="font:14px Calibri;"><a name="top" id="top"></a><br></span>
</p>
<p style="text-align:justify;">
  
  <ul>
  {% for pub in site.data.publications %}
    <li>
      {{pub.authors}} ({{pub.year}}) {{pub.title}} {{pub.journal}} 
      {% if pub.withdoi %} doi: {{pub.doi}}] {% endif %}
    </li>
  {% endfor %}
  </ul>
  
</p>

			<div class="clearer"></div>
		</div><!-- End content -->
		
	</div><!-- End main content wrapper -->
	
	<div id="sidebarContainer"><!-- Start Sidebar wrapper -->
		<div id="sidebar"><!-- Start sidebar content -->
		<div class="sideHeader">Home</div><!-- Sidebar header --> 
			<!-- sidebar content you enter in the page inspector -->
			 <!-- sidebar content such as the blog archive links -->
		</div><!-- End sidebar content -->
	</div><!-- End sidebar wrapper -->
	
	<div class="clearer"></div>
	
</div><!-- End container -->

<div class="clearer"></div>

  {% include footer.html %}
  </body>
</html>
