---
title: Publications
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head.html %}    

<body>
<div id="bar"></div>
<div id="container"><!-- Start container -->

  {% include header.html %}
	
	<div id="contentContainer"><!-- Start main content wrapper -->
		<div id="content"><!-- Start content -->
			<div class="contentSpacer"></div><!-- this makes sure the content is long enough for the design -->
			<p>
  <span style="font:14px Calibri;"><a name="top" id="top"></a><br></span>
</p>
<p style="text-align:justify;">

  {% for pub in site.data.publications %}
    <p>
      {% if pub.type == "article" %} 
        {{pub.authors}} 
        ({{pub.year}}) 
        <b>{{pub.title}}.</b> 
        {{pub.journal}} 
        {% if pub.doi != null %}<a href=http://dx.doi.org/{{pub.doi}}>{{pub.doi}}</a> {% endif %}
        {% if pub.web != null %}<a href={{pub.web}}>Abstract</a> {% endif %}
        {% if pub.pdf != null %}<a href={{pub.pdf}}>PDF</a> {% endif %}
      {% endif %}

      {% if pub.type == "chapter" %} 
        {{pub.authors}} 
        ({{pub.year}}) 
        {{pub.title}} 
      {% endif %}
      
      <!-- {% if pub.journal != null %}. {{pub.journal}} {% endif %}
      {% if pub.in != null %}, in: {{pub.in}} {% endif %}
      {% if pub.doi != null %} doi: {{pub.doi}} {% endif %} -->
    </p>
  {% endfor %}
  
</p>

			<div class="clearer"></div>
		</div><!-- End content -->
		
	</div><!-- End main content wrapper -->
	
	<div id="sidebarContainer"><!-- Start Sidebar wrapper -->
		<div id="sidebar"><!-- Start sidebar content -->
		<div class="sideHeader">Home</div><!-- Sidebar header --> 
			<!-- sidebar content you enter in the page inspector -->
			 <!-- sidebar content such as the blog archive links -->
		</div><!-- End sidebar content -->
	</div><!-- End sidebar wrapper -->
	
	<div class="clearer"></div>
	
</div><!-- End container -->

<div class="clearer"></div>

  {% include footer.html %}
  </body>
</html>
