---
title: Staff
---

{% include head.html %}    

{% include menu.html %}	

{% include footer.html %}t="170">
        </td><td>
        <span style="font:14px LucidaSans-Demi; font-weight:bold; font-weight:bold;">{{person.name}}</span><br>
        <span style="font:15px Calibri;">{{person.title}}<br>
          Office: {{person.office}}<br>
          Phone: {{person.phone}}<br>
          Fax: {{person.fax}}<br>
          Email: <a href="mailto:{{person.email}}">{{person.email}}</a>
        </span>
			</td></tr>
      {% endif %}{% endfor %}
      </table>

{% include footer.html %}