/* @group Layout Colours */

#bar,
.photo-navigation,
.movie-title {
	background-color: #293A55;
}

#pageHeader #title {
	background-color: #9BC947;
}

#pageHeader h1,
#pageHeader h2 {
	text-shadow: 0px -1px 0px #5D782A;
}

#footer {
	background-color: #E2DDD0;
}

#footer p {
	text-shadow: 0px -1px 0px #87847C;
}

#breadcrumbcontainer li {
	color: #9E9A91;
}

/* @end */

/* @group Content Colours */
	
body,
.blog-entry-body,
.blog-entry-date,
.blog-entry {
	color: #4E4E4E;
}


#sidebarContainer .sideHeader,
#sidebarContainer #sidebar h1,
#sidebarContainer #sidebar h2,
#sidebarContainer #sidebar h3 {
	color: #5E6566;
}

#sidebarContainer {
	color: #202D41;
}

#sidebarContainer #sidebar a,
#breadcrumbcontainer,
a:link, a:visited {
	color: #A98757;
}

h1, h2, h3, h4, h5,
h1.blog-entry-title a,
.blog-archive-headings-wrapper,
.album-title,
.photo-title,
.movie-page-title {
	color: #202D41;
}



/* @end */

/* @group Navbar */

#navcontainer a {
	color: #4E4E4E;
}

#navcontainer a:hover,
#navcontainer #current,
#navcontainer .currentAncestor,
#sidebarContainer #sidebar a:hover,
.photo-navigation a:hover,
a:hover, a:active,
form,
h1 {
	color: #9BC947;
}

#navcontainer ul ul a:hover,
#navcontainer ul ul #current,
#navcontainer ul ul .currentAncestor {
	background: #9BC947;
	color: #fff;
	border-bottom-color: #9BC947;
}



/* @end */