	<div id="pageHeader"><!-- Start page header -->
		<div id="navcontainer"><!-- Start Navigation -->
			<ul>
				<li>
					<a href="./index.html" rel="self">Home</a>
					<ul>
						<li>
							<a href="./drlelkes.html" rel="self">About Dr. Lelkes</a>
						</li>
						<li>
							<a href="./page1.html" rel="self">Goal &amp; Mission</a>
						</li>
						<li>
							<a href="./publications.html" rel="self">Publications</a>
						</li>
						<li>
							<a href="./contact.html" rel="self">Contact Us</a>
						</li>
						<li>
							<a href="./page37.html" rel="self">Academic Programs</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="./research.html" rel="self">Research</a>
					<ul>
						<li>
							<a href="./currentresearch.html" rel="self">Current Research</a>
						</li>
						<li>
							<a href="./facilities.html" rel="self">Research Facilities</a>
						</li>
						<li>
							<a href="./grants.html" rel="self">Grants &amp; Awards</a>
						</li>
						<li>
							<a href="./collaborations.html" rel="self">Collaborations &amp; Partnerships</a>
						</li>
						<li>
							<a href="./page9.html" rel="self">Funding Opportunities</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="./people.html" rel="self">People</a>
					<ul>
						<li>
							<a href="./faculty.html" rel="self">Faculty</a>
						</li>
						<li>
							<a href="./visiting.html" rel="self">Visiting Scholars</a>
						</li>
						<li>
							<a href="./postdocs.html" rel="self">Post Doctorate Fellows</a>
						</li>
						<li>
							<a href="./page14.html" rel="self">Students &amp; Researchers</a>
						</li>
						<li>
							<a href="./page15.html" rel="self">Staff</a>
						</li>
						<li>
							<a href="./page17.html" rel="self">Alumni</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="./page23.html" rel="self">Policies &amp; Guidelines</a>
					<ul>
						<li>
							<a href="./page22.html" rel="self">Grad Student Policies</a>
						</li>
						<li>
							<a href="./page24.html" rel="self">PhD Clearance Guidelines</a>
						</li>
						<li>
							<a href="./page29.html" rel="self">Lab Protocols</a>
						</li>
						<li>
							<a href="./page34.html" rel="self">i-CTERM Lab Member</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="./page30/page30.html" rel="self">News &amp; Events</a>
					<ul>
					<li>
						<a href="./page30/page41/page41.html" rel="self">Coulter Site Visit 2010</a>
					</li>
					<li>
						<a href="./page30/page40/page40.html" rel="self">Aybike's Thesis Defense 2010</a>
					</li>
					<li>
						<a href="./page30/page39/page39.html" rel="self">Jingjia's Thesis Defense 2010</a>
					</li>
					<li>
						<a href="./page30/page38/page38.html" rel="self">Biomedical Talent and Technology Showcase 2010</a>
					</li>
					<li>
						<a href="./page30/page35/page35.html" rel="self">Discovery Day 2010</a>
					</li>
					<li>
						<a href="./page30/page32/page32.html" rel="self">HUB Symposium</a>
					</li>
					<li>
						<a href="./page30/page33/page33.html" rel="self">Bi-national DU HU HUB Symposium</a>
					</li>
					<li>
						<a href="./page30/page36/page36.html" rel="self">Until next year Dr. Laz!</a>
					</li>
					<li>
						<a href="./page30/page25/page25.html" rel="self">Research Day 2010</a>
					</li>
					<li>
						<a href="./page30/page31/page31.html" rel="self">SEE (Surgical Engineering Enterprise)</a>
					</li>
					<li>
						<a href="./page30/page28/page28.html" rel="self">Translational Workshop Jan 28th, 2010</a>
					</li>
					<li>
						<a href="./page30/page26/page26.html" rel="self">i-CTERM Seminar Session</a>
					</li>
					<li>
						<a href="./page30/page27/page27.html" rel="self">Dr. Lelkes 60th Birthday</a>
					</li>
					<li>
						<a href="./page30/page16/page16.html" rel="self">Alumni (2005- present)</a>
					</li>
					<li>
						<a href="./page30/page21/page21.html" rel="self">Research Day Archives</a>
					</li></ul></li></ul>
		</div><!-- End navigation --> 
		<div id="title">
			<h1>Integrated Laboratory for Cellular Tissue Engineering<br />and Regenerative Medicine (<i>i</i>-CTERM)</h1>
			<h2></h2>
			<div id="overlay_swirls"><img src="./rw_common/themes/caribou/images/header_swirls.png" alt="" style="width: 900px; height: 150px;"></div>
			<div id="overlay_stripes_glow"><img src="./rw_common/themes/caribou/images/header_stripes_glow.png" alt="" style="width: 900px; height: 150px;"></div>
			<div id="overlay_stripes_solid"><img src="./rw_common/themes/caribou/images/header_stripes_solid.png" alt="" style="width: 900px; height: 150px;"></div>
			<div id="overlay_curve_solid"><img src="./rw_common/themes/caribou/images/header_curve_solid.png" alt="" style="width: 900px; height: 150px;"></div>
		</div>
		<div id="background"><img src="./rw_common/themes/caribou/images/header_bg.png" alt="" style="width: 914px; height: 197px;"></div>
	</div><!-- End page header -->